<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "layouts/lookbook/head" %>

  <%= vite_client_tag %>
  <%= vite_javascript_tag "app" %>
  <%= vite_stylesheet_tag "app" %>

  <title>Lookbook</title>
</head>
<body>

<%= look_icon :smile %>

  <%= yield %>

</body>
</html>
